.notification-list {
  margin-top: 20px;
}

.notification-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80%;
}

.notification-item button {
  margin-top: 10px;
}
